body {
  margin-left: 5%;
  height: 99vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
}

#content {
}

.homePageContainer {
  display: flex;
}

.imageContainer {
  width: 80%;
}
.imageContainer img {
  width: 100%;
  border-radius: 5%;
}

.test {
  position: absolute;
  top: 10%;
  left: 25%;
  color: white;
  font-size: 3rem;
  background-color: black;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.headerContainer .header {
  font-size: 3rem;
}

.headerContainer .subHeader {
  font-size: 2rem;
}

.headerContainer button {
  margin-top: 5%;
  width: 10%;
  height: 40px;
  border: none;
  border-radius: 5%;
  cursor: pointer;
  background-color: orangered;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.headerContainer button:hover {
  background-color: rgba(255, 68, 0, 0.559);
}

.headerContainer button:active {
  transform: scale(0.95);
}
